html, body {
    --color-1: #a8e6cf;
    --color-2: #dcedc1;
    --color-3: #ffd3b6;
    --color-4: #ffaaa5;
    --color-5: #ff8b94;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
background-image: url('dice.jpg.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
    font-weight: bolder;
    font-background: red;
}
h1 {
  background-color: black;
  opacity: .9;
  border-radius: ;
  font-size: 45px;
}
#message {
  font-size: 62px;
}
.container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: linear-gradient(to right, rgb(255, 0, 0), rgb(18, 18, 18));
    opacity: 1;
    box-shadow: -2px 6px 18px 3px rgba(255,255,255,0.75);
    padding: 50px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
    font-size: 90px;
    display: block;
    align-items: center;
    justify-content: center;
}


button {
    color:white;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color:#0c0000


}

#resetBtn {
    background-color:#0c0000
    font-weight: bolder;

}

#rollBtn:hover {
  background-color: white;
  color: black;
  font-size: 24px

}

#resetBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 18px 3px rgb(255,255,255);
